
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Asvape</title>
	<meta name="author" content="Asvape">
	<meta name="description" content="深圳市傲斯唯博科技有限公司">
	<meta name="keywords" content="深圳市傲斯唯博科技有限公司,Asvape">
	<meta id="i18n_pagename" content="index-common">
	<link rel="icon" type="image/x-icon" href="http://www.asvape.net/favicon.ico">
	<link rel="shortcut icon" href="http://www.asvape.net/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="//cdn.bootcss.com/unslider/2.0.3/css/unslider.css" />
	<link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/lib/reset.css" />
	<link rel="stylesheet" href="../css/lib/font.css" />
	<link rel="stylesheet" href="../css/about.css"/>
	<link rel="stylesheet" href="../img/sprite/sprite.css" />
	<script src="/asvape/site/init"></script>
</head>
<body>


	<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="../lib/jquery.i18n.properties.js"></script>
	<script src="../js/language.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js"></script>
	<script src="../js/transform.js"></script>
	<script src="../js/map.js"></script>
	<script src="../js/common.js?"></script>
	<script src="../lib/lazyload.js?"></script>
	
	<script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="../tpl/template.js"></script>
	<script src="../js/about.js"></script>

</body>
</html>